p{
    background-color:rgb(0, 204, 255);
    color: bisque;
    
}
.blog{
    /* background-image: url('baby.jpg'); */
    background-image: url('../baby.jpg');
    height: 600px;
    width: 600px;
    font-size: 200%;
}